
#root {
  max-width: 1580px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.contenedor {
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.temperatura{
  margin-left:8px;
  margin-right: 8px;
}
.cuadro {
  width: 50%;
  height: 200px;
  margin-left: 10px;
  background-color: #282c45;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  
}
.titulo{
 
  flex-direction: column;
}
input{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(21, 50, 145);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.container{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:10px;
  padding:10px;
  border-radius: 10px;
  background-color: #282c45;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.iner{
  border:1.5px solid #fffdfd;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
